.container.selectors {
  padding-top: 94px;
  padding-bottom: 94px;
}

.selector {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.selector-type:not(:last-child) {
  margin-right: 8px;
}

.selector .button {
  color: $title-text-color;
  background-color: $selector-bg-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: inherit;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.project-item-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-item .group {
  padding: 20px 24px;
}

.project-item .title {
  margin-bottom: 4px;
}

.project .title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .type {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.9;
}
